*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-black: #040b14;
    --theme-blue:#149DDD;
    --theme-white:#ffff;
    --theme-light:#292f37;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}

/* HEADER  START  */
header{
    background-color: var(--theme-black);
    width: 300px;
}
header .pf-img img{
    width: 120px;
    border: 8px solid #292f37 !important;
}
header .social-icon ul li a{
    background-color: #161c25;
    transition: all .3s ease-in !important;
}
header nav ul li:hover{
    background-color: #292f3774 !important;
    border-radius: 20px;
}
header .social-icon ul li a:hover{
    background-color: var(--theme-blue) !important;
}
header nav ul li a:hover{
    color: var(--theme-white) !important;
}
header nav ul li a:hover i{
    color: var(--theme-blue);
}
.nav-pills .nav-link.active{
    background-color: #292f3774 !important;
    border-radius: 20px;
}
.nav-pills .nav-link.active i{
    color: var(--theme-blue);
}
/* HEADER  END  */

/* MAIN  START  */
main{
    width: calc(100% - 300px);
    margin-left: auto;
}

/* HERO  -  SECTION   START  */
main .hero .hero-img{
    background-image: url('../Images/hero-bg\ \(1\).jpg');
    background-color: #040b144c;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-size: cover;
}
/* HERO  - SECTION  END  */

/* ABOUT  - SECTION   START  */
.about .about-header h2::before,
.skills .skills-header h2::before,
.resume .resume-header h2::before,
.portfolio .portfolio-header h2::before{
    content: '';
    height: 3px;
    position: absolute;
    background-color: var(--theme-blue);
    width: 60px;
    bottom: 0;
}
.about .about-content .about-details ul li i{
    color: var(--theme-blue);
    font-size: 15px;
}

.about .count i{
    font-size: 40px;
    color: #149DDD;
}
/* ABOUT - SECTION   END  */

/* SKILL   -  SECTION  START  */
.skills .progress-bar{
    background-color: #149DDD;
}
/* SKILL   -  SECTION  END   */

/* RESUME  - SECTION  START  */
.resume .resume-details::before{
    content: '';
    top: 0;
    left: 0;
    width: 10px;
    padding: 8px;
    background-color: #ffff;
    border-radius: 50%;
    border: 3px solid #149DDD;
    position: absolute;
    transform: translateX(-50%);
}
/* RESUME  - SECTION   END  */

/* PORTFOLIO - SECTION START  */
.portfolio .portfolio-content{
    overflow: hidden;
}
.portfolio .portfolio-content img{
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-content:hover img{
    transform: scale(1.2);
}

.portfolio .portfolio-content .portfolio-overlay{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-content:hover  .portfolio-overlay{
    opacity: 1;
}
/* PORTFOLIO - SECTION END  */

/* SERVICE - SECTION START  */
.service .service-count .count i{
    width: 60px;
    height: 60px;
    background: var(--theme-blue);
    font-size: 24px;
    color: var(--theme-white);
    padding: 15px;
    transition: 0.5s;
}

.service .service-count .count:hover i{
    background-color: var(--theme-white);
    border: 1px solid var(--theme-blue);
    color: var(--theme-bg-blue);
}

.service .service-count .count .service-count-content h4 a{
    color: var(--theme-black);
    transition: all .3s ease-in-out;
}

.service .service-count .count:hover .service-count-content h4 a{
    color: var(--theme-blue);
}
/* SERVICE - SECTION END */

/*TESTIMONIAL - SECTION START  */
.test-content{
    text-align: justify;
    padding: 10px 20px;
}
/* TESTIMONIAL - SECTION END */

/*CONTACT - SECTION START-*/

.contact .info-box-item{
    margin-bottom: 40px;
}
.contact .info-box-item i{
    font-size: 20px;
    color: #149ddd;
    background-color: rgba(20, 157, 221, 0.08);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.contact .info-content h3{
    font-size: 18px;
    font-weight: 700;
}

.contact .info-content p{
    font-size: 14px;
}

.contact .info-box-item:hover i{
    background-color: #149DDD;
    color: white;
}
/*CONTACT - SECTION END-*/

/* FOOTER - SECTION START */
footer {
    background-color: #f4fafd;
}

footer .copy-right p,
footer .designed-by p{
    font-size: 14px
}
/* FOOTER - SECTION END*/