*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
header{
    background-color: #040b14;
    width: 300px;
}
header .pf-img img{
    width: 120px;
    border: 8px solid #292f37 !important;
}
header .social-icon ul li a{
    background-color: #161c25;
}