*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-black: #040b14;
    --theme-blue:#149DDD;
    --theme-white:#ffff;
    --theme-light:#292f37;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* H   E   D   E   R       S   T   A   R   T  */
header{
    background-color: var(--theme-black);
    width: 300px;
}
header .pf-img img{
    width: 120px;
    border: 8px solid #292f37 !important;
}
header .social-icon ul li a{
    background-color: #161c25;
    transition: all .3s ease-in !important;
}
header nav ul li:hover{
    background-color: #292f3774 !important;
    border-radius: 20px;
}
header .social-icon ul li a:hover{
    background-color: var(--theme-blue) !important;
}
header nav ul li a:hover{
    color: var(--theme-white) !important;
}
header nav ul li a:hover i{
    color: var(--theme-blue);
}
/* H   E   D   E   R       E   N   D  */

/* M   A   I   N      S   T   A   R   T  */
main{
    width: calc(100% - 300px);
    margin-left: auto;
}

/* H   E   R   O   -  S   E   C   T   I   O   N       S   T   A   R   T  */
main .hero .hero-img{
    background-image: url('../Images/hero-bg\ \(1\).jpg');
    background-color: #040b144c;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-size: cover;
}
/* H   E   R   O   -  S   E   C   T   I   O   N       E   N   D  */

/* A   B   O   U    T   -  S   E   C   T   I   O   N       S   T   A   R   T  */
.about .about-header h2::before,
.skills .skills-header h2::before,
.resume .resume-header h2::before,
.portfolio .portfolio-header h2::before{
    content: '';
    height: 3px;
    position: absolute;
    background-color: var(--theme-blue);
    width: 60px;
    bottom: 0;
}
.about .about-content .about-details ul li i{
    color: var(--theme-blue);
    font-size: 15px;
}

.about .count i{
    font-size: 40px;
    color: #149DDD;
}
/* A   B   O   U    T   -  S   E   C   T   I   O   N       E    N    D  */

.skills .progress-bar{
    background-color: #149DDD;
}

.resume .resume-details::before{
    content: '';
    top: 0;
    left: 0;
    width: 10px;
    padding: 8px;
    background-color: #ffff;
    border-radius: 50%;
    border: 3px solid #149DDD;
    position: absolute;
    transform: translateX(-50%);
}

.portfolio .portfolio-content{
    overflow: hidden;
}
.portfolio .portfolio-content img{
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-content:hover img{
    transform: scale(1.2);
}

.portfolio .portfolio-content .portfolio-overlay{
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-content:hover  .portfolio-overlay{
    opacity: 1;
}